.chart-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.price-chart {
  width: 100%;
  height: 100%;
  max-height: 320px;
}

canvas {
  width: 100% !important;
  max-height: 320px !important;
}